<div class="grid grid-pad">
  <h1 class="col-1-2" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
  <div class="col-1-2" *ngIf="!(authService.user | async)">
    <input style="color: #2d2d2d" type="text" [(ngModel)]="email" placeholder="email" (keyup.enter)="loggIn()">
    <input style="color: #2d2d2d" type="password" [(ngModel)]="password" placeholder="password" (keyup.enter)="loggIn()">

    <button class="btn btn-primary" (click)="singUp()" [disabled]="!email || !password">
      Signup
    </button>

    <button class="btn btn-primary" (click)="loggIn()" [disabled]="!email || !password">
      Login
    </button>
    <button class="btn btn-social btn-google" (click)="loginWithGoogle()">
      <span class="fa fa-google"></span>
      Login with Google
    </button>

  </div>
  <div class="col-2-2" style="float: right; margin-right: 10px; text-align: center; margin-top: 1em; vertical-align: middle" >
    <button class="btn btn-primary" (click)="logOut()" routerLink="dashboard" *ngIf="authService.user | async">Logout</button>
  </div>
  <p *ngIf="messagea">error: {{messagea}}</p>
</div>


