<h2>My Persons</h2>
<ul class="heroes list-group">
  <li style="color: darkblue;" class="list-group-item" *ngFor="let hero of heroes" [class.selected]="hero === heroes"
      (click)="onSelect(hero); changeShowDialog()"><!--showDialog = !showDialog-->
    <span class="badge" style="text-align: match-parent">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero" [showdial]="showDialog" ></app-hero-detail>


