<div *ngIf="hero">

  <app-dialog [visible]="showdial">
    <h2>{{hero.name}} details!</h2>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th><label>id: </label></th>
        <th>{{hero.id}}</th>
      </tr>
      <tr>
        <th><label>name: </label></th>
        <th><input [(ngModel)]="hero.name" placeholder="name"/></th>
      </tr>
      <tr *ngIf="hero.power">
        <th><label>power: </label></th>
        <th>{{hero.power}}</th>
      </tr>
      </tbody>
    </table>
    <button (click)="showdial = !showdial; close()" class="btn btn-lg" >Close</button>
    <button (click)="writeUserData()" class="btn btn-lg" style="float: right">Save!</button>
  </app-dialog>

</div>
<button class="btn btn-lg" (click)="goBack()">Back</button>
